
div {
  color: rgb(255, 255, 255);
  font-size: 20px;
}

html{
  background: linear-gradient(to left, transparent, rgb(0, 0, 0)),
              url(https://images8.alphacoders.com/550/550542.jpg)no-repeat;
  background-size: cover;
}

.coolingButton {
  display: inline-block;
  padding: 15px 25px;
  font-size: 24px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: #046daa;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
}

.coolingButton:hover {background-color: #00538a}

.coolingButton:active {
  background-color: #00538a;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

.cleaningButton {
  display: inline-block;
  padding: 15px 25px;
  font-size: 24px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: #04AA6D;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
}

.cleaningButton:hover {background-color: #3e8e41}

.cleaningButton:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}