
div {
  color: rgb(255, 255, 255);
  font-size: 20px;
}

html{
  background: linear-gradient(to left, transparent, rgb(0, 0, 0)),
              url(https://images8.alphacoders.com/550/550542.jpg)no-repeat;
  background-size: cover;
}

.customButton:hover {
  background-color: rgb(11, 212, 226);
  color: #000000;
  font-size: 20px;
}